 <h1>
  Movie #<%= @movie_bio.id %> details
</h1>

<a href="/movies" class="btn btn-block btn-outline-secondary">
  Go back
</a>

&nbsp;|&nbsp;

<a href="/delete_movie/1" class="btn btn-block btn-outline-secondary">
  Delete movie
  <small>(Building this link is not required. It's an optional stretch goal; but, you have the tools if you want to give it a try.)</small>
</a>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @movie_bio.title %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= @movie_bio.year %>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= @movie_bio.duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
   <%= @movie_bio.description %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="https://robohash.org/<%= @movie_bio.image %>">
  </dd>

  <dt>
    Director
  </dt>
  <dd>
  <%= Director.where({ id: @movie_id }).at(0).name %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@movie_bio.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@movie_bio.updated_at) %> ago
  </dd>
</dl>

<hr>
