<h1> List of all movies </h1>

<table border="1">
<% @list_of_movies.each do |movie| %>
  <tr>
    <td><%= movie.id %></td>
    <td>
    <img src="https://robohash.org/<%= movie.image %>">
    </td>
    <td><%= movie.title %></td>
    <td><%= movie.year %></td>
    <td><%= Director.where({ id: movie.director_id }).at(0).name %> </td>
    <td>
      <a href="/movies/<%= movie.id %>">
      Show Details</a>
    </td>
  </tr>
  <% end %>
</table>
